In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
import numpy as np       
import pandas as pd
import seaborn as sns     
sns.set()
import matplotlib.pyplot as plt
%matplotlib inline
import datetime as dt
import warnings; warnings.simplefilter('ignore')


path = "/content/drive/MyDrive/Bachelorarbeit/yellow_tripdata_2016-06.csv"

#Dataset is now stored in Pandas Dataframe
df = pd.read_csv(path)

df.describe()

In [ ]:
df.shape

(11135470, 19)

In [ ]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'pickup_longitude',
       'pickup_latitude', 'RatecodeID', 'store_and_fwd_flag',
       'dropoff_longitude', 'dropoff_latitude', 'payment_type', 'fare_amount',
       'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
       'improvement_surcharge', 'total_amount'],
      dtype='object')

In [ ]:
df.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
pickup_longitude         float64
pickup_latitude          float64
RatecodeID                 int64
store_and_fwd_flag        object
dropoff_longitude        float64
dropoff_latitude         float64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtype: object

In [ ]:
df.describe

<bound method NDFrame.describe of           VendorID tpep_pickup_datetime  ... improvement_surcharge  total_amount
0                2  2016-06-09 21:06:36  ...                   0.3          7.30
1                2  2016-06-09 21:06:36  ...                   0.3         27.30
2                2  2016-06-09 21:06:36  ...                   0.3          9.36
3                2  2016-06-09 21:06:36  ...                   0.3         28.30
4                2  2016-06-09 21:06:36  ...                   0.3         17.76
...            ...                  ...  ...                   ...           ...
11135465         1  2016-06-21 22:08:42  ...                   0.3         10.30
11135466         1  2016-06-21 22:08:42  ...                   0.3          9.35
11135467         1  2016-06-21 22:08:42  ...                   0.3         15.35
11135468         2  2016-06-21 22:08:42  ...                   0.3         25.80
11135469         2  2016-06-21 22:08:42  ...                   0.3         17.16

[11135470 rows x 19 columns]>

In [ ]:
df.isnull().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
pickup_longitude         0
pickup_latitude          0
RatecodeID               0
store_and_fwd_flag       0
dropoff_longitude        0
dropoff_latitude         0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
dtype: int64

In [ ]:
df.nunique()

VendorID                       2
tpep_pickup_datetime     2395442
tpep_dropoff_datetime    2399652
passenger_count               10
trip_distance               4581
pickup_longitude           35135
pickup_latitude            61876
RatecodeID                     7
store_and_fwd_flag             2
dropoff_longitude          55408
dropoff_latitude           88017
payment_type                   5
fare_amount                 1953
extra                         48
mta_tax                       11
tip_amount                  3806
tolls_amount                1016
improvement_surcharge         16
total_amount               12127
dtype: int64

In [ ]:
#convert it to datetime
df['pickup_datetime']=pd.to_datetime(df['tpep_pickup_datetime'], format='%Y-%m-%d %H:%M:%S')
df['dropoff_datetime']=pd.to_datetime(df['tpep_dropoff_datetime'], format='%Y-%m-%d %H:%M:%S')

In [ ]:
df['pickup_time']=pd.to_datetime(df['pickup_datetime'], format='%H:%M:%S')
df['dropoff_time']=pd.to_datetime(df['dropoff_datetime'], format='%H:%M:%S')

In [ ]:
df.pickup_time

0          2016-06-09 21:06:36
1          2016-06-09 21:06:36
2          2016-06-09 21:06:36
3          2016-06-09 21:06:36
4          2016-06-09 21:06:36
                   ...
11135465   2016-06-21 22:08:42
11135466   2016-06-21 22:08:42
11135467   2016-06-21 22:08:42
11135468   2016-06-21 22:08:42
11135469   2016-06-21 22:08:42
Name: pickup_time, Length: 11135470, dtype: datetime64[ns]

In [ ]:
#extract and create new features from the datetime feature
# Delimit pickup_datetime variable 
df['pickup_date'] = df['pickup_datetime'].dt.date # Extract date
df['pickup_time'] = df['pickup_datetime'].dt.time # Extract time

# Delimit dropoff_datetime variables
df['dropoff_date'] = df['dropoff_datetime'].dt.date # Extract date
df['dropoff_time'] = df['dropoff_datetime'].dt.time # Extract time
df['pickup_day']=df['pickup_datetime'].dt.day_name()
df['dropoff_day']=df['dropoff_datetime'].dt.day_name()

df['pickup_day_no']=df['pickup_datetime'].dt.day
df['dropoff_day_no']=df['dropoff_datetime'].dt.day

df['pickup_month']=df['pickup_datetime'].dt.month
df['dropoff_month']=df['dropoff_datetime'].dt.month

df['pickup_hour']=df['pickup_datetime'].dt.hour
df['dropoff_hour']=df['dropoff_datetime'].dt.hour

df['pickup_minute']=df['pickup_datetime'].dt.minute
df['dropoff_minute']=df['dropoff_datetime'].dt.minute

In [ ]:
df.shape

(11135470, 35)

In [ ]:
#df.drop(['tpep_pickup_datetime', 'tpep_dropoff_datetime'], axis=1,)

In [ ]:
#df['trip_duration'] = df.apply(lambda row: row.tpep_dropoff_datetime - (row.tpep_pickup_datetime), axis=1)
#df['trip_duration'] = df['dropoff_time'] - df['pickup_time']
#df['trip_duration'] = (df['dropoff_datetime'] - df['pickup_datetime']).total_seconds()/60
df['trip_duration'] = df['dropoff_datetime'] - df['pickup_datetime']
df['trip_duration_min'] = df['trip_duration'].dt.total_seconds()/60

In [ ]:
#df.trip_duration_min.describe

In [ ]:
df.shape

(11135470, 37)

In [ ]:
#df.columns

In [ ]:
#%debug

In [ ]:
# Remove passenger_count outliers
df = df[df['passenger_count']>0]
df = df[df['passenger_count']<7]

# Remove coordinate outliers
df = df[df['pickup_longitude'] <= -73.75]
df = df[df['pickup_longitude'] >= -74.03]
df = df[df['pickup_latitude'] <= 40.85]
df = df[df['pickup_latitude'] >= 40.63]
df = df[df['dropoff_longitude'] <= -73.75]
df = df[df['dropoff_longitude'] >= -74.03]
df = df[df['dropoff_latitude'] <= 40.85]
df = df[df['dropoff_latitude'] >= 40.63]

# Remove trip_duration outliers
trip_duration_mean = np.mean(df['trip_duration'])
trip_duration_std = np.std(df['trip_duration'])
df = df[df['trip_duration']<=trip_duration_mean + 2*trip_duration_std]
df = df[df['trip_duration']>= trip_duration_mean - 2*trip_duration_std]

trip_duration_mean = np.mean(df['trip_duration_min'])
trip_duration_std = np.std(df['trip_duration_min'])
df = df[df['trip_duration_min']<=trip_duration_mean + 2*trip_duration_std]
df = df[df['trip_duration_min']>= trip_duration_mean - 2*trip_duration_std]

In [ ]:
df.shape

In [ ]:
# Imports
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.mlab as mlab
import pandas as pd
import seaborn as sns
import sklearn
import warnings
warnings.filterwarnings("ignore")
from scipy.stats import norm




# Mean distribution
mu = df['trip_duration_min'].mean()

# Std distribution
sigma = df['trip_duration_min'].std()
num_bins = 100

# Histogram 
fig = plt.figure(figsize=(8.5, 5))
n, bins, patches = plt.hist(df['trip_duration_min'], num_bins, density=1, stacked = True, edgecolor = 'black', lw = 1, alpha = .40)
# Normal Distribution
y = norm.pdf(bins, mu, sigma)
plt.plot(bins, y, 'r--', linewidth=2)
plt.xlabel('trip_duration_min')
plt.ylabel('Probability density')

# Adding a title
plt.title(r'$\mathrm{Trip\ duration\ skewed \ to \ the \ right:}\ \mu=%.3f,\ \sigma=%.3f$'%(mu,sigma))
plt.grid(True)
#fig.tight_layout()
plt.show()

# Statistical summary
df.describe()[['trip_duration_min']].transpose()

In [ ]:
df["id"] = df.index

In [ ]:
#df.loc[:,"extra"]
df

In [ ]:
import seaborn as sns
plt.figure(figsize=(12,2))

bar_df = df.groupby('pickup_hour').aggregate({'id':'count'}).reset_index()
sns.barplot(x='pickup_hour', y='id', data=bar_df)

plt.title('Pick-ups Hour Distribution')
plt.xlabel('Hour of Day, 0-23')
plt.ylabel('No of Trips made')
plt.show()

In [ ]:
df.describe().transpose()

In [ ]:
df.loc[df['tip_amount']<0]

In [ ]:
#Remove tip outliers
df = df[df['tip_amount'] < 0]

In [ ]:
df.loc[df['total_amount'] <= 0]

In [ ]:
#Remove fare outliers
df = df[df['total_amount'] <= 0]

In [ ]:
df.loc[df['trip_distance'] <= 0]

In [ ]:
df = df[df['trip_distance'] <= 0]

In [ ]:
# Summarize total trips by day
pickups_by_day = df.groupby('pickup_date').count()['id']

# Create graph
pickups_graph = pickups_by_day.plot(x = 'pickup_date', y = 'id', figsize = (26,8),legend = True)

# Customize tick size
pickups_graph.tick_params(axis = 'both', which = 'major', labelsize = 12)

# Bold horizontal line at y = 0
pickups_graph.axhline(y = 0, color = 'black', linewidth = 1.3, alpha = .7)

# Customize tick labels of the y-axis
pickups_graph.set_yticklabels(labels = [-10, '2000   ', '4000   ', '6000   ', '8000   ', '10000', '12000', '14000', '16000'])

# Add an extra vertical line by tweaking the range of the x-axis
pickups_graph.set_xlim(left = '2016-06-01', right = '2016-07-01')

# Remove the label of the x-axis
pickups_graph.xaxis.label.set_visible(True)

plt.show()

In [ ]:
# Identify where spike occured
df.groupby('pickup_date').count()#['id'].sort_values(ascending = False)

In [ ]:
df.columns

In [ ]:
df.loc[:,'pickup_date']

In [ ]:
df.describe